

.left__bar {
    border: 1px solid black;
    height: 25rem;
    width: 12rem;
    background-image: url('../../assets/images/bg-sidebar-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    padding-top: 1rem;
    .step{
        display: flex;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
        button {
            padding: 0.8rem 1rem;
            border-radius: 50%;
            border: 1px solid white;
            color: white;
            background: transparent;
            
        }
        .step__right {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }
      

    }
}